@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body ,html{
    margin: 0px;
    font-family: "EB Garamond", serif;
    scroll-behavior: smooth;
    /* Přidáme scroll snapping na ose y */
    scroll-snap-type: y mandatory;
}



header{
    display: flex;
    background: #F6E9A2;
    background: linear-gradient(0deg, rgba(246, 233, 162, 0.9) 0%,rgba(188, 130, 31, 0.9) 100%);
    justify-content: right;
    height: 125px;
    width: 100%;
    position: fixed;
}

.Navigation{
    display: flex;
    align-items: center;
    margin-right: 28px;
    gap: 50px;
    font-size: 25px;
}

h1{
    color: white;
    font-size: 120px;
    text-shadow: 0px 0px 8px #bc821f;
    display: flex;
    justify-content: center;
    margin: 10px;
}

h2{
    color: #f6e9a2;
    font-size: 80px;
    text-shadow: 0px 0px 8px #bc821f;
    display: flex;
    justify-content: center;
    margin: 10px;
}

h3{
    color: #f6e9a2;
    font-size: 60px;
    text-shadow: 0px 0px 8px #bc821f;
    display: flex;
    justify-content: center;
    margin: 10px;
}

a{
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 6px #bc821f;
    font-weight: bold;
}

.Pages {
    width: 100%;
    height: 100vh;
    background: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Toto zajistí, že každá sekce se zachytí při posunutí */
    scroll-snap-align: start;
}

.d1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
