@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body ,html{
    margin: 0px;
    font-family: "EB Garamond", serif;
    scroll-behavior: smooth;
    /* Přidáme scroll snapping na ose y */
    scroll-snap-type: y mandatory;
}



header{
    display: flex;
    background: #F6E9A2;
    background: linear-gradient(0deg, rgba(246, 233, 162, 0.9) 0%,rgba(188, 130, 31, 0.9) 100%);
    justify-content: right;
    height: 125px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 9px 5px rgba(246, 233, 162, 1);
}

.Navigation{
    display: flex;
    align-items: center;
    margin-right: 28px;
    gap: 50px;
    font-size: 25px;
}

h1{
    color: white;
    font-size: 120px;
    text-shadow: 0px 0px 8px #bc821f;
    display: flex;
    justify-content: center;
    margin: 10px;
}



h2{
    color: #f6e9a2;
    font-size: 80px;
    text-shadow: 0px 0px 8px #bc821f;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.h2{
    margin-top: 60px;
}

h3{
    color: #f6e9a2;
    font-size: 60px;
    text-shadow: 0px 0px 8px #bc821f;
    display: flex;
    justify-content: center;
    margin: 10px;
}

h4{
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 5px #bc821f;
    display: flex;
    justify-content: center;
    margin: 3px;
}

.h4{
    margin-bottom: 0px;
}

h5{
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 5px #bc821f;
    display: flex;
    justify-content: center;
    margin: 0px;
}

li{
    color: white;
    font-size: 25px;
    text-shadow: 0px 0px 5px #bc821f;
    margin: 3px;
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 6px #bc821f;
    font-weight: bold;
}

.Pages {
    width: 100%;
    height: 100vh;
    background: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    scroll-snap-align: start;
}

.d1{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.d2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}

.d3{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.li1{
    font-size: 17px;
}
