@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body ,html{
    margin: 0px;
    font-family: "EB Garamond", serif;
    scroll-behavior: smooth;
    /* Přidáme scroll snapping na ose y */
    scroll-snap-type: y mandatory;
}



header{
    display: flex;
    background-color: rgba(48, 48, 48, 0.7);
    justify-content: right;
    height: 100px;
    width: 100%;
    position: fixed;
}

.Navigation{
    display: flex;
    align-items: center;
    margin-right: 28px;
    gap: 50px;
    font-size: 25px;
}

h1{
    color: white;
    font-size: 90px;
    text-shadow: 0px 0px 8px rgb(250, 221, 57);
    display: flex;
    justify-content: center;
    margin: 10px;
}

h2{
    color: rgb(255,215,0);
    font-size: 50px;
    text-shadow: 0px 0px 8px rgb(250, 221, 57);
    display: flex;
    justify-content: center;
    margin: 10px;
}

a{
    color: rgb(255,215,0);
    text-decoration: none;
    text-shadow: 0px 0px 6px rgb(250, 221, 57);
    font-weight: bold;
}

.Pages {
    width: 100%;
    height: 100vh;
    background: #000000;
    background: radial-gradient(circle,rgba(0, 0, 0, 1) 66%, rgba(255, 215, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Toto zajistí, že každá sekce se zachytí při posunutí */
    scroll-snap-align: start;
}

.d1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
